@import '~styles/variables'

.v-button
  a
    &:hover
      text-decoration: underline
      color: $cornflower-blue
  button
    background-color: #2b3f53
    padding: 5px 15px
    border-radius: 5px
    color: white
    width: 100%
    outline: none
    border: none
    padding: 7px
    display: block
    font-size: 16px
    &:hover
      cursor: pointer