<template lang="jade">
  .field
    input(
      :type="type",
      v-bind:value="value",
      @input="onInput($event)",
      :placeholder="placeholder"
    )
</template>

<style lang="stylus" scoped>
  .field
    position: relative
    width: 100%
    input
      width: 100%
      display: block
      padding: 5px
      font-size: 16px
      margin: 14px 0
      border-radius: 5px
      border: 1px solid #bcbcbc
      box-sizing: border-box

</style>

<script>
  export default {
    props: {
      onChange: Function,
      value: String,
      placeholder: String,
      type: String
    },
    data () {
      return {};
    },
    methods: {
      onInput(event) {
        if(this.change) {
          this.change(event);
        }
        
        this.$emit('input', event.target.value);
      }
    }
  }
</script>