<template lang="jade">
.link-to
  a(v-if="isExternalUrl", :href="url")
    slot
  router-link(v-else, :to="url")
    slot
</template>

<style lang="stylus">
.link-to
  display: inline-block
  a
    text-decoration: none
    color: inherit
    &:hover
      cursor: pointer
</style>

<script>
  export default {
    props: {
      url: [String, Object]
    },
    data() {
      return {};
    },
    computed: {
      isExternalUrl() {
        let url = this.url,
            isExternal = false;
        
        if(typeof url === 'string') {
          isExternal = !!(url.match(/^((http[s]?|ftp):\/\/)/))
        }

        return isExternal;
      }
    }
  }
</script>