<template lang="jade">
  .home
    to-do-list
    to-do-input
</template>

<script>
  import store from 'store';
  import module from './module';
  import ToDoList from './containers/to-do-list';
  import ToDoInput from './containers/to-do-input';
  
  store.registerModule('home', module);
  export default {
    props: ['title'],
    data () {
      return {};
    },
    components: {
      ToDoList,
      ToDoInput
    }
  }
</script>

<style lang="stylus" scoped>
</style>
