@import './variables'

@font-face 
  font-family: $icon-font
  src: url('./fonts/Icon-Fonts/icon-v1.eot')
  src: url('./fonts/Icon-Fonts/icon-v1.eot') format('embedded-opentype'),
       url('./fonts/Icon-Fonts/icon-v1.woff2') format('woff2'),
       url('./fonts/Icon-Fonts/icon-v1.woff') format('woff'),
       url('./fonts/Icon-Fonts/icon-v1.ttf') format('truetype'),
       url('./fonts/Icon-Fonts/icon-v1.svg') format('svg')
  font-weight: normal
  font-style: normal

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90026937#fontello') format('svg');
  }
}
*/
 
[class^="icon-"]:before, [class*=" icon-"]:before 
  font-family: $icon-font
  font-style: normal
  font-weight: normal
  speak: none
 
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal
  text-transform: none
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

 
.icon-reddit:before { content: '\e800'; } /* '' */
.icon-vk:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e803'; } /* '' */
.icon-vimeo:before { content: '\e804'; } /* '' */
.icon-link-1:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-help-circled:before { content: '\e807'; } /* '' */
.icon-music:before { content: '\e808'; } /* '' */
.icon-videocam:before { content: '\e809'; } /* '' */
.icon-video:before { content: '\e80a'; } /* '' */
.icon-cancel-1:before { content: '\e80b'; } /* '' */
.icon-attention-circled:before { content: '\e80c'; } /* '' */
.icon-attention:before { content: '\e80d'; } /* '' */
.icon-volume-up:before { content: '\e80e'; } /* '' */
.icon-volume-down:before { content: '\e80f'; } /* '' */
.icon-volume-off:before { content: '\e810'; } /* '' */
.icon-down-dir:before { content: '\e811'; } /* '' */
.icon-up-dir:before { content: '\e812'; } /* '' */
.icon-left-dir:before { content: '\e813'; } /* '' */
.icon-right-dir:before { content: '\e814'; } /* '' */
.icon-play-1:before { content: '\e815'; } /* '' */
.icon-stop-1:before { content: '\e816'; } /* '' */
.icon-pause-1:before { content: '\e817'; } /* '' */
.icon-to-end-1:before { content: '\e818'; } /* '' */
.icon-to-end-alt:before { content: '\e819'; } /* '' */
.icon-to-start-1:before { content: '\e81a'; } /* '' */
.icon-to-start-alt:before { content: '\e81b'; } /* '' */
.icon-fast-fw:before { content: '\e81c'; } /* '' */
.icon-fast-bw:before { content: '\e81d'; } /* '' */
.icon-eject:before { content: '\e81e'; } /* '' */
.icon-font:before { content: '\e81f'; } /* '' */
.icon-scissors:before { content: '\e820'; } /* '' */
.icon-magnet:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-heart-empty:before { content: '\e823'; } /* '' */
.icon-star:before { content: '\e824'; } /* '' */
.icon-star-empty:before { content: '\e825'; } /* '' */
.icon-camera:before { content: '\e826'; } /* '' */
.icon-ok:before { content: '\e827'; } /* '' */
.icon-attach:before { content: '\e828'; } /* '' */
.icon-cog:before { content: '\e829'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-youtube-1:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-vine:before { content: '\f1ca'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-i-cursor:before { content: '\f246'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */
.icon-hand-grab-o:before { content: '\f255'; } /* '' */
.icon-hand-paper-o:before { content: '\f256'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-vimeo-1:before { content: '\f27d'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */