@import './variables'
@import './fonts'
@import './icons'
@import './icons-animation'

body, html
  background-color: white
  color: $mine-shaft
  font: 16px/1 $main-font, "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height: 20px
  margin: 0
  padding: 0
  text-rendering: optimizeLegibility
  width: 100%
  min-height: 100vh
  display:flex
  position: relative
  
  /* Rendering smooth font for best reading experience  */
  /* sadly, Firefox just support this feature on Mac OS */
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
