<template lang="jade">
  .to-do-input
    .field
      v-field(v-model="todoName")
    .create-button
      v-button(label="create", :onClick="create")
</template>

<style lang="stylus" scoped>
</style>

<script>
  import { mapMutations } from 'vuex';
  import VField from 'components/v-field';
  import VButton from 'components/v-button';
  
  export default {
    data() {
      return {
        todoName: ''
      }
    },
    methods: {
      ...mapMutations([
        'createTodo'
      ]),
      create() {
        if(this.todoName !== '') {
          const todo = {label: this.todoName, checked: false};
          this.createTodo(todo);
          this.todoName = '';
        }
      }
    },
    components: {
      VField,
      VButton
    }
  }
</script>