<template lang="jade">
  .login-view
    h3
      | Login
    v-field(v-model="username", placeholder="username")
    v-field(v-model="password", placeholder="password", type="password")
    login-button(:username="username", :password="password")
</template>

<script>
  import VField from 'components/v-field';
  import LoginButton from './containers/login-button';
  import store from 'store';
  import module from './module';
  
  // Loading the vuex module store with the same route
  store.registerModule('login', module);

  export default {
    props: ['title'],
    data () {
      return {
        username: '',
        password: ''
      };
    },
    components: {
      VField,
      LoginButton
    },
    methods: {
    }
  }
</script>

<style lang="stylus" scoped>
</style>
