<!--
  This component is a stick footer which will be always at bottom of the page,
  even when there isn't content in the page or there is a big empty gap.
  this component remains always in the parent bottom.
  
  @NOTE: Keep in mind, this component just works in flex context, it means
         the parent component should be a `display: flex` in order to work 
         properly.
-->
<template lang="jade">
  footer.sticky-footer
    slot
</template>

<style lang="stylus" scoped>
  footer.sticky-footer
    // this is the only CSS property to stick the footer in the bottom
    // just works in flex context
    margin-top: auto
    position: relative
    width: 100%
</style>