<template lang="jade">
  .to-do(@click="checkTodo(index)")
    .to-do-elements
      .to-do-checked
        input(type="checkbox", :checked="data.checked")
      .to-do-label {{ reduceLabel }}
    .remove-button(@click="removeTodo(index)") X
    
</template>

<style lang="stylus" scoped>
  .to-do
    display: flex
    align-items: flex-start
    justify-content: space-between
    width: 100%
    padding: 5px
    margin: 7px 0px
    box-sizing: border-box
    cursor: default
    .to-do-elements
      display: flex
      .to-do-checked
        margin-right: 7px
    .remove-button
      transform: scale(0.7)
      padding: 4px 8px
      border-radius: 100%
      text-align: center;
      background-color: #ff7474
      color: white
      cursor: pointer
</style>

<script>
  import { mapMutations } from 'vuex';
  
  export default {
    props: {
      data: Object,
      index: Number
    },
    computed: {
      reduceLabel() {
        const LIMIT = 27;
        const { label } = this.data;
        return label.length >= 30 ? `${label.substr(0, LIMIT - 3)}...` : label;
      }
    },
    methods: {
      ...mapMutations([
        'checkTodo',
        'removeTodo'
      ])
    }
  }
</script>