<template lang="jade">
  .v-layout
    .box-wrapper
      slot
</template>

<style lang="stylus" scoped>
  .v-layout
    width: 320px
    height: 400px
    margin: 30px auto
    .box-wrapper
      display: flex
      flex-direction: column
</style>