
<template lang="jade">
  div#app
    v-layout
      main-header
      #container
        router-view
    sticky-footer
      .footer-label
        | vue boilerplate
</template>

<script>
  import { MainHeader, VLayout, StickyFooter } from 'components';
  
  export default {
    components: {
      MainHeader,
      VLayout,
      StickyFooter
    }
  };
</script>

<style lang="stylus" scoped>
  #app
    position: relative
    width: 100%
    min-height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    #container
      display: flex
      flex-direction: column
      flex: 1 1 auto
    .footer-label
      margin: 15px
      color: gray
      text-align: right
</style>
