<template lang="jade">
  .login-button-wrapper
    .error-login {{ error }}
    v-button(label="Enter", :onClick="submit")
</template>

<script>
  import VButton from 'components/v-button';
  import { mapActions, mapGetters } from 'vuex'; 
  
  export default {
    props: {
      username: String,
      password: String
    },
    data() {
      return {
        error: ''
      }
    },
    methods: {
      ...mapActions([
        'login'
      ]),
      submit() {
        const fieldData = {username: this.username, password: this.password};
        this.login(fieldData)
        .then(() => this.$router.push('/home'))
        .catch(err => this.error = err);
      }
    },
    components: {
      VButton
    }
  } 
</script>