<template lang="jade">
  .to-do-list
    to-do(
      v-for="(todo, $index) in todos",
      :index="$index",
      :data="todo",
      :key="$index"
    )
</template>

<style lang="stylus" scoped>
</style>

<script>
  import { mapGetters } from 'vuex';
  import ToDo from './to-do';
  
  export default {
    props: {
      label: String,
      checked: Boolean,
      index: Number
    },
    computed: {
      ...mapGetters([
        'todos'
      ])
    },
    components: {
      ToDo
    }
  }
</script>