<template lang="jade">
  header
    .logo
      img(src="./assets/vue_logo.png")
</template>

<script>


  export default {
    data () {
      return {};
    },
    components: {
    }
  }
</script>

<style lang="stylus" scoped src="./main-header.styl"></style>