@import '~styles/variables'

header
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 15px
  width: 100%
  .logo
    margin: 0 auto
    width: 50px
    height: 50px
    img
      width: 100%